<template name="menu">

  <ul class="topcoat-list__container">
    <li class="topcoat-list__item"> 
      <a href="/menu">
      <span class="badge"><i class="glyphicon glyphicon-fire icon-drink"></i></span>
	İçecek
      </a>
    </li>
    <li class="topcoat-list__item">
      <a href="/menu">
      <span class="badge"><i class="glyphicon glyphicon-plus-sign icon-food"></i></span>
	Yemek
      </a>
    </li>
    <li class="topcoat-list__item">
      <a href="/menu">
      <span class="badge"><i class="glyphicon glyphicon-heart icon-sweet"></i></span>
	Tatlı
      </a>
    </li>
    <li class="topcoat-list__item">
      <a href="/menu">
      <span class="badge"><i class="glyphicon glyphicon-leaf icon-fruit"></i></span>
	Meyve
      </a>
    </li>
  </ul>

</template>
